.payment {
  background-color: white;
  padding: 20px;
  max-width: 900px;
  margin: 20px auto;
  border-radius: 10px;
}

.payment > h1 {
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.payment__section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 10px;
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.payment__item img {
  width: 80px;
  object-fit: contain;
  margin-right: 10px;
}

.cardElement {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-bottom: 20px;
}

.payment__priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment__priceContainer button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.payment__priceContainer button:hover {
  background: #ddb347;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
